.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* 柔和分割线样式 */
.SplitPane .Resizer {
  background: #e0e0e0 !important;
  /* MUI主色 */
  opacity: 1 !important;
  z-index: 10;
  box-shadow: none;
  transition: all 0.2s;
}

.SplitPane .Resizer:hover {
  background: #bdbdbd !important;
  box-shadow: 0 0 8px #bdbdbd88;
  cursor: col-resize;
}

.SplitPane .Resizer.vertical {
  width: 7px !important;
  /* 分割线宽度 */
  margin: 0 -3.5px;
  border-radius: 4px;
}